@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Titan+One&display=swap");
@import "./variables";
@import "./components/button.scss";
@import "./components/paragraph.scss";
@import "./components/section-container.scss";
@import "./components/section-heading.scss";
@import "./sections/header.scss";
@import "./sections/discover.scss";
@import "./sections/how-to-work.scss";
@import "./sections/our-collection.scss";
@import "./sections/contact-us.scss";
@import "./sections/roadmap.scss";
@import "./sections/footer.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scrollbar-width: none;
}

body {
    background-color: $dark-blue;
    background-image: url("../assets/snow.png");
    background-size: 100% auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

button {
    cursor: pointer;
    border: none;
    background: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
}

img {
    width: 100%;
}
